.no-jobs-found-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .no-jobs-found-bg-container {
    width: 50%;
  }
}
.no-jobs-found-image {
  width: 100%;
}
.no-jobs-found-content-container {
  margin-top: 20px;
  padding: 16px 3px;
  text-align: center;
}

@media (min-width: 768px) {
}
