.not-found-bg-container {
  height: 100vh;
  background-color: #000;
}
.not-found-main-container {
  height: 88vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-sm-img {
}
.not-fount-title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.not-fount-description {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 0 20px;
}
