.header-container-sm {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}
@media (min-width: 768px) {
  .header-container-sm {
    display: none;
  }
}

.header-container-lg {
  display: none;
  background-color: #272727;
}
@media (min-width: 768px) {
  .header-container-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 50px;
  }
}

.website-logo {
  width: 80px;
}
@media (min-width: 768px) {
  .website-logo {
    width: 120px;
  }
}

.header-items-list-container {
  list-style-type: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav-link {
    margin: 0 10px;
  }
}

.header-item-icon {
  margin: 0 12px;
  font-size: 20px;
}

.logout-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
@media (min-width: 768px) {
  .logout-button {
    background-color: #6366f1;
    font-weight: 700;
    padding: 8px 26px;
    border-radius: 5px;
  }
}
