.job-item-details-bg-container {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}
.job-item-details-main-container {
  padding: 16px;
}
.job-item-details-card-container {
  background-color: #272727;
  border-radius: 10px;
  padding: 16px;
}
.job-item-details-card-header {
  display: flex;
  margin-bottom: 16px;
}
.job-item-details-card-header-logo {
  width: 50px;
  margin-right: 10px;
}
.job-item-details-card-header-title {
  font-size: 18px;
  font-weight: 700;
}
.job-item-details-card-header-rating {
}
.job-item-details-card-header-rating-icon {
  color: yellow;
}
.job-item-details-card-details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.job-item-details-card-details-container-1 {
  display: flex;
}
.job-item-details-card-details-container-1-content {
  font-size: 14px;
  margin-right: 10px;
}
.job-item-details-card-details-container-1-salary {
  font-weight: 600;
}
.h-line {
  margin: 16px 0;
}
.job-item-details-card-description-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.job-item-details-card-description-title {
  font-weight: 700;
}
.job-item-details-card-details-link {
  text-decoration: none;
}
.external-link-button {
  color: #6366f1;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.job-item-details-card-details-link-icon {
  font-size: 16px;
}
.job-item-details-card-description {
  margin-bottom: 16px;
  /* font-size: 14px; */
}
.job-item-details-card-skills-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
}
.job-item-details-card-skill-item {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.job-item-details-card-skill-item-image {
  width: 32px;
  margin-right: 10px;
}
.job-item-details-card-skill-item-title {
  font-weight: 700;
  color: #fff;
}
.job-item-details-card-image {
  width: 100%;
}
.job-item-details-sub-heading {
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  margin: 30px 0 20px;
}
.job-item-details-similar-jobs-list-container {
  list-style-type: none;
}
.job-item-details-similar-jobs-list-item-container {
  margin-bottom: 16px;
}
